<div class="header">
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <p><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> LOGO</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left media-middle">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Регистрация</h4>
            <p>Добро пожаловать, <%= current_user.name %>!</p>
            <%= link_to('Выйти', destroy_user_session_path, method: :delete) %>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left media-middle">
            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Свяжитесь с нами</h4>
            <p>Телефон: <a href="#">+375 29 637 04 02</a></p>
            <p>Телефон: <a href="#">+375 29 637 03 67</a></p>
            <a href="#">Обратная связь</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <div class="media">
          <div class="media-left media-middle">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Как нас найти</h4>
            <p>Минск, ул. Тимирязева ,67.</p>
            <a href="#">Карта</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-header">
  <h1 class="text-center">Страница <%= role %></h1>
</div>
