<% links = {
	my_orders: ["Мои заказы", dashboard_index_path],
	create_order: ["Новые заказы", 'dashboard_new_orders_path'],
	profile: ["Профиль", edit_user_registration_path],
	account: ["Личный счет", "isp_account.html"]
} %>
<ul class="nav nav-tabs ">
  <% links.each do |key, value| %>
    <li role="presentation" class=<%= "active" if key.to_s == active %>>
      <%= link_to value[0], value[1] %>
    </li>
  <% end %>
</ul>
